.about-page-wrapper {
    p {
        line-height: 1.5rem;
    }
    
    .section-wrapper {
        max-width: 932px;
    }

    .our-mission-wrapper, .class-requirements-wrapper {
        text-align: center;
    }

    .our-mission-wrapper h2, .our-services-wrapper h2 {
        color: $green;
    }

    .class-requirements-wrapper h2 {
        color: $red;
    }

    .our-services-wrapper h4 {
        color: $green;
    }

    .button-wrapper {
        justify-content: center;
        height: 100px;

        a {
            box-shadow: 0px 0px 5px black;
            height: 62px;
            width: 205px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: larger;
        }
    }

    .register-now-wrapper {
        background-color: $light-red;
        max-width: 100%;

        a {
            color: $red;
        }
    }
}